.body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Arial";
  background-image: linear-gradient(to top right, #ff512f 25%, #dd2476 50%);
}

.main {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 460px;
  height: 470px;
  border-radius: 5px;
  font-family: sans-serif;
}

.main__container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.head {
  font-size: 24px;
  font-weight: 700;
}

.head__h1 {
  padding-left: 5px;
  display: inline;
  color: #1b1c1d;
}

.head__paragraph {
  line-height: 1.5;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #7a7b7f;
}

.paragraph__a {
  text-decoration: none;
  color: #ea355a;
}

.form {
  margin-top: 35px;
  width: 100%;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.form__input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px;
  height: 40px;
  border-radius: 5px;
  background-color: #f0f0f0;
  display: block;
  width: 100%;
  border: 0px;
  margin-bottom: 15px;
}

.name-input {
  display: inline-block;
  width: 195px;
}

.name-input:first-child {
  float: left;
}

.name-input:last-child {
  float: right;
}

.form__button {
  height: 50px;
  width: 100%;
  background-color: #ea355a;
  border: 0px;
  border-radius: 5px;
  border-bottom: 3px solid #bd1962;
  color: white;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
}
